@page
@model IndexModel
@{
    ViewData["Title"] = "Inspire";
}

<!DOCTYPE html>

<html>
    <head>
        <title>Arquitetura</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/css/style.css" />
    </head>
    <body>
        <div class="arq-wraper">
            <div class="imagem-capa">
                <img src="~/images/arq-moderna-curvas.jpg" alt="Imagem de predio" />
            </div>
            
        </div>
    </body>
</html>
 
