@page
@model IndexModel
@{
    ViewData["Title"] = "Inspire";
}

<!DOCTYPE html>

<html>
    <head>
        <title>Arquitetura</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/css/style.css" />
    </head>
    <body>
        <div class="arq-wraper">
            <div class="imagem-capa">
                <img src="~/images/arq-moderna-curvas.jpg" alt="Imagem de predio" />
            </div>
            
            <div class="texto">
                <article>
                    <h1>Vamos concretizar seus sonhos</h1>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Etiam eget ligula eu lectus lobortis condimentum. Aliquam nonummy auctor massa. 
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
                        Nulla at risus. Quisque purus magna, auctor et, sagittis ac, posuere eu, lectus. 
                        Nam mattis, felis ut adipiscing.</p>
                </article>
            </div>
            
        </div>
    </body>
</html>
 
